#CardCar .link {
    text-decoration: none;
}

#CardCar .card {
    width: 260px;
    height: 360px;
    border: solid 1px #dcdcdc;
    border-top: 3px solid #4faac5;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    color: black;
    text-transform: uppercase;
}

#CardCar img {
    width: 100%;
    height: 190px;
}

#CardCar .buttonOferta {
    position: absolute;
    top: 175px;
    background: #f2c811;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 50%;
    font-size: 12px;
    font-weight: 700;
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
}

#CardCar .priceBox {
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 160px;
    text-decoration: none;
}

#CardCar .title {
    font-weight: bold;
    padding-bottom: 5px;
}

#CardCar .subtitle {
    font-size: 0.7em;
}

#CardCar .priceCar {
    color: #4faac5;
}

#CardCar .cifrao {
    font-size: 16px;
    font-weight: 700;
    padding-right: 5px;
}

#CardCar .price {
    font-size: 24px;
    font-weight: 900;
}

#CardCar .specsBox {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#CardCar .specs {
    border: 1px solid #dcdcdc;
    border-bottom: none;
    color: #999;
    font-size: 12px;
    padding: 5px 2px;
    flex: 1;
    text-align: center;
}

#CardCar .text {
    line-height: 20px;
}

#CardCar .CardCar-icon {
    color: black;
    padding-right: 5px;
    font-size: 1.2em;
}

#CardCar .card:hover {
    background-color: #4faac5;
}

#CardCar .card:hover .priceCar {
    color: white
}

#CardCar .card:hover .priceBox {
    color: white;
}

#CardCar .card:hover .icon {
    color: white;
}

#CardCar .card:hover .specs {
    color: white;
}