#InfoBox {
    border: solid 1px #d6d6d6;
    height: 100%;
}

#InfoBox .item_info {
    display: flex;
    align-items: center;
    height: 10%;
    font-size: 16px;
    padding-left: 12px;
}

#InfoBox .gray {
    background-color: #f7f7f7;
}

#InfoBox .item_info svg {
    font-size: 24px;
    color: #8f8f8f;
}

#InfoBox .item_info span {
    padding-left: 10px;
    padding-right: 5px;
    font-weight: bold;
}